<Header>{{@user.username}} top scores</Header>
<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Whac a mole</th>
      <th scope='col'>Memory top score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{@user.whacamoleTopScore}}</td>
      <td>{{@user.memoryTopScore}}</td>
    </tr>
  </tbody>
</table>