<Header>{{@user.username}} top scores</Header>
<table class='table table-striped'>
  <thead>
    <tr>
      <th class='text-center' scope='col'>Whac a mole</th>
      <th class='text-center' scope='col'>Memory top score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='text-center'>{{@user.whacamoleTopScore}}</td>
      <td class='text-center'>{{@user.memoryTopScore}}</td>
    </tr>
  </tbody>
</table>