<Header data-test-username>{{@user.username}} top scores</Header>
<table class='table table-striped'>
  <thead>
    <tr>
      <th class='text-center' scope='col'>Whac a mole</th>
      <th class='text-center' scope='col'>Memory top score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        data-test-whacamoleTopScore
        class='text-center'
      >{{@user.whacamoleTopScore}}</td>
      <td
        data-test-memoryTopScore
        class='text-center'
      >{{@user.memoryTopScore}}</td>
    </tr>
  </tbody>
</table>