{{@stopwatch.numTicks}}
s
<button
  type='button'
  class='btn btn-success'
  {{on 'click' @start}}
>start</button>

<button type='button' class='btn btn-primary' {{on 'click' @stop}}>
  pause
</button>

<button
  type='button'
  class='btn btn-danger'
  {{on 'click' @reset}}
>reset</button>