{{! template-lint-disable no-inline-styles }}

<div class='card d-inline-block mx-3' style='width: 18rem;'>
  <img src={{@game.picture}} class='card-img-top' alt='game' />
  <div class='card-body'>
    <h5 class='card-title'>{{@game.title}}</h5>
    <p class='card-text'>{{@game.description}}</p>
    <LinkTo @route={{@game.link}}>
      <Shared::Button class='btn-primary' @label='Play!' />
    </LinkTo>
  </div>
</div>