<h3 class='text-center'>Score:
  <span
    id='result'
    {{did-insert this.didInsertResult}}
    {{did-update this.didInsertResult}}
  ></span></h3>

<div class='mx-auto' id='grid' {{did-insert this.didInsertGrid}}></div>