{{page-title 'Settings'}}
<Header>Settings</Header>

<div class='container row mt-5'>
  <div class='col col-6 d-block mx-auto align-self-center'>
    <User::Details @user={{this.model}} />
  </div>

  <div class='col col-6 d-block mx-auto'>
    <EditUser @user={{this.model}} />
  </div>
</div>