{{page-title 'Settings'}}
<Header>Settings</Header>

<div class='container'>
  <div class='col-6 d-inline-block'>
    <User::Details @user={{this.model}} />
  </div>

  <div class='col-6 d-inline-block'>
    <EditUser @user={{this.model}} />
  </div>
</div>