test test
<div id='grid' class='mx-auto'>
  {{#each this.shuffledCards as |card|}}
    <img
      role='button'
      data-id={{card.cardId}}
      src='/assets/images/blank.png'
      alt={{card.name}}
      {{on 'click' this.flipCard}}
    />

  {{/each}}
</div>